body {
    margin: 0;
    
}

.container {
    width: 100%;
   
}


.container::before {
    content:none;
}

.navbar-brand {
    padding-left: 50px;
}

#music-player {
/* decreasing height of spotify player goes below spotify's minimum - the content inside doesn't adjust to smaller sizes */
width: 390px;
margin: 40px 525px;
border-radius: 8px;

}

.container-fluid {
    width: 420px;
}

.hidden{
  display: none;
}

.testimonial_thumbnails_ind_carousel_caption {
    color: #fff;
}


.testimonial_thumbnails_ind_carousel_wrapper {
  padding: 25px;
  overflow: hidden;
}

.testimonial_thumbnails_ind_carousel_indicators {
  left: 0%;
  right: 0%;
  z-index: 3;
  bottom: 0%;
  width: 100%;
  margin-left: 0%;
  position: relative;
  margin-bottom: 0px;
  padding: 5px 0px 0px 0px;
}

.testimonial_thumbnails_ind_carousel_indicators li {
  width: 20%;
  margin: 0px;
  height: auto;
  border: none;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.testimonial_thumbnails_ind_carousel_indicators li img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.testimonial_thumbnails_ind_carousel_indicators .active {
  width: 20%;
  height: auto;
  border: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.testimonial_thumbnails_ind_carousel_indicators .active img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

.testimonial_thumbnails_ind_carousel_caption {
  text-align: center;
  padding: 50px 100px 20px 100px;
}

testimonial_thumbnails_ind_carousel_caption>p {
  font-size: 18px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.testimonial_thumbnails_ind_carousel_caption>p>i {
  margin-right: 10px;
}

.testimonial_thumbnails_ind_carousel_caption>h3 {
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
}

.testimonial_thumbnails_ind_carousel_caption>a,
.testimonial_thumbnails_ind_carousel_caption>a:visited {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}


@media only screen and (max-width: 600px) {

  .testimonial_thumbnails_ind_carousel_caption {
    padding: 0px 0px 30px 0px;
  }
}

/* background as defined by relevant div??? */
.testimonial_thumbnails_ind_carousel_wrapper {
  background: #000;
}

.testimonial_thumbnails_ind_carousel_caption>a,
.testimonial_thumbnails_ind_carousel_caption>a:visited {
  color: #fff;
}

.testimonial_thumbnails_ind_carousel_caption>a:hover,
.testimonial_thumbnails_ind_carousel_caption>a:active {
  color: #cb9200;
}

#footer {
    background-color: #000;
    color: #fff;
    
}

/* ----- end custom style overrides - style.css ----- */